In [5]:
import pandas as pd
import pickle
from sklearn.metrics import mean_absolute_error, cohen_kappa_score
from scipy.stats import spearmanr

In [12]:
with open('all_predictions.pkl', 'rb') as f:
    all_predictions = pickle.load(f)

In [13]:
results_df = pd.DataFrame(columns=['mean_absolute_error', 'cohen_kappa_score', 'spearmanr'])

for t, (y_true, y_pred) in all_predictions.items():
    results_df.loc[t] = [
        mean_absolute_error(y_true, y_pred),
        cohen_kappa_score(y_true, y_pred),
        spearmanr(y_true, y_pred)[0]  
    ]

results_df = results_df.T

In [14]:
results_df

                     pstplonl   volunfp   clsprty
mean_absolute_error  0.149669  0.236158  0.500234
cohen_kappa_score    0.168660  0.162095  0.001327
spearmanr            0.229168  0.195378  0.015381

In [11]:
results_df

                      stflife    stfgov    stfedu
mean_absolute_error  2.148400  3.928805  2.213584
cohen_kappa_score   -0.016434 -0.011311  0.010121
spearmanr            0.209514  0.303255  0.243749

In [8]:
results_df

                      trstprl     badge   lrscale
mean_absolute_error  3.874374  0.071195  4.841515
cohen_kappa_score   -0.009133  0.007721 -0.001743
spearmanr            0.433207  0.038096  0.042040